src/main/resources/org/xmlresolver/schemas/oasis-xml-catalog-1.1.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- Originally converted with trang, but hand modified subsequently -->
<grammar ns="urn:oasis:names:tc:entity:xmlns:xml:catalog" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="catalog"/>
  </start>
  <define name="_any.attribute">
    <attribute>
      <anyName/>
    </attribute>
  </define>
  <define name="_any.nsattribute">
    <attribute>
      <anyName>
        <except>
          <nsName/>
          <nsName ns=""/>
        </except>
      </anyName>
    </attribute>
  </define>
  <define name="_any.element">
    <element>
      <anyName>
        <except>
          <nsName/>
        </except>
      </anyName>
      <zeroOrMore>
        <choice>
          <ref name="_any.attribute"/>
          <text/>
          <ref name="_any.element"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="common.attlist" combine="interleave">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
  <define name="pubIdChars">
    <data type="string" datatypeLibrary=""/>
  </define>
  <define name="publicIdentifier">
    <ref name="pubIdChars"/>
  </define>
  <define name="partialPublicIdentifier">
    <ref name="pubIdChars"/>
  </define>
  <define name="uriReference">
    <data type="string" datatypeLibrary=""/>
  </define>
  <define name="systemOrPublic">
    <choice>
      <value>system</value>
      <value>public</value>
    </choice>
  </define>
  <define name="local.catalog.mix">
    <zeroOrMore>
      <ref name="_any.element"/>
    </zeroOrMore>
  </define>
  <define name="local.catalog.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="catalog">
    <element name="catalog">
      <ref name="attlist.catalog"/>
      <oneOrMore>
        <choice>
          <ref name="public"/>
          <ref name="system"/>
          <ref name="uri"/>
          <ref name="rewriteSystem"/>
          <ref name="rewriteURI"/>
          <ref name="systemSuffix"/>
          <ref name="uriSuffix"/>
          <ref name="delegatePublic"/>
          <ref name="delegateSystem"/>
          <ref name="delegateURI"/>
          <ref name="nextCatalog"/>
          <ref name="group"/>
          <ref name="local.catalog.mix"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.catalog" combine="interleave">
    <ref name="common.attlist"/>
    <optional>
      <attribute name="prefer">
        <ref name="systemOrPublic"/>
      </attribute>
    </optional>
    <ref name="local.catalog.attribs"/>
  </define>
  <define name="local.public.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="public">
    <element name="public">
      <ref name="attlist.public"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.public" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="publicId">
      <ref name="publicIdentifier"/>
    </attribute>
    <attribute name="uri">
      <ref name="uriReference"/>
    </attribute>
    <ref name="local.public.attribs"/>
  </define>
  <define name="local.system.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="system">
    <element name="system">
      <ref name="attlist.system"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.system" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="systemId">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <attribute name="uri">
      <ref name="uriReference"/>
    </attribute>
    <ref name="local.system.attribs"/>
  </define>
  <define name="local.uri.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="uri">
    <element name="uri">
      <ref name="attlist.uri"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.uri" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="name">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <attribute name="uri">
      <ref name="uriReference"/>
    </attribute>
    <ref name="local.uri.attribs"/>
  </define>
  <define name="local.rewriteSystem.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="rewriteSystem">
    <element name="rewriteSystem">
      <ref name="attlist.rewriteSystem"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.rewriteSystem" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="systemIdStartString">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <attribute name="rewritePrefix">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <ref name="local.rewriteSystem.attribs"/>
  </define>
  <define name="local.rewriteURI.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="rewriteURI">
    <element name="rewriteURI">
      <ref name="attlist.rewriteURI"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.rewriteURI" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="uriStartString">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <attribute name="rewritePrefix">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <ref name="local.rewriteURI.attribs"/>
  </define>
  <define name="local.systemSuffix.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="systemSuffix">
    <element name="systemSuffix">
      <ref name="attlist.systemSuffix"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.systemSuffix" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="systemIdSuffix">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <attribute name="uri">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <ref name="local.systemSuffix.attribs"/>
  </define>
  <define name="local.uriSuffix.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="uriSuffix">
    <element name="uriSuffix">
      <ref name="attlist.uriSuffix"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.uriSuffix" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="uriSuffix">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <attribute name="uri">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <ref name="local.uriSuffix.attribs"/>
  </define>
  <define name="local.delegatePublic.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="delegatePublic">
    <element name="delegatePublic">
      <ref name="attlist.delegatePublic"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.delegatePublic" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="publicIdStartString">
      <ref name="partialPublicIdentifier"/>
    </attribute>
    <attribute name="catalog">
      <ref name="uriReference"/>
    </attribute>
    <ref name="local.delegatePublic.attribs"/>
  </define>
  <define name="local.delegateSystem.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="delegateSystem">
    <element name="delegateSystem">
      <ref name="attlist.delegateSystem"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.delegateSystem" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="systemIdStartString">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <attribute name="catalog">
      <ref name="uriReference"/>
    </attribute>
    <ref name="local.delegateSystem.attribs"/>
  </define>
  <define name="local.delegateURI.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="delegateURI">
    <element name="delegateURI">
      <ref name="attlist.delegateURI"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.delegateURI" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="uriStartString">
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <attribute name="catalog">
      <ref name="uriReference"/>
    </attribute>
    <ref name="local.delegateURI.attribs"/>
  </define>
  <define name="local.nextCatalog.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="nextCatalog">
    <element name="nextCatalog">
      <ref name="attlist.nextCatalog"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.nextCatalog" combine="interleave">
    <ref name="common.attlist"/>
    <attribute name="catalog">
      <ref name="uriReference"/>
    </attribute>
    <ref name="local.nextCatalog.attribs"/>
  </define>
  <define name="local.group.mix">
    <zeroOrMore>
      <ref name="_any.element"/>
    </zeroOrMore>
  </define>
  <define name="local.group.attribs">
    <zeroOrMore>
      <ref name="_any.nsattribute"/>
    </zeroOrMore>
  </define>
  <define name="group">
    <element name="group">
      <ref name="attlist.group"/>
      <oneOrMore>
        <choice>
          <ref name="public"/>
          <ref name="system"/>
          <ref name="uri"/>
          <ref name="rewriteSystem"/>
          <ref name="rewriteURI"/>
          <ref name="systemSuffix"/>
          <ref name="uriSuffix"/>
          <ref name="delegatePublic"/>
          <ref name="delegateSystem"/>
          <ref name="delegateURI"/>
          <ref name="nextCatalog"/>
          <ref name="local.group.mix"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.group" combine="interleave">
    <ref name="common.attlist"/>
    <optional>
      <attribute name="prefer">
        <ref name="systemOrPublic"/>
      </attribute>
    </optional>
    <ref name="local.group.attribs"/>
  </define>
</grammar>
